---
# This SCSS will be compiled to CSS and served from _sites/css/local.css
---
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic|Roboto:400,700,700italic,400italic);
@import url('https://fonts.googleapis.com/css?family=Kanit:400,500,600,700,900');

:root{
  --black: #262626;
  --blue: #0019FF;
  --blue_light: #55C4F5;
  --dark_form: #221E1B;
  --green: #00E597;
  --grey: #BCBCBC;
  --grey_bg: #E3E3E3;
  --purple: #5B22B2;
  --purple_dark: #4919A2;
  --purple_light: #E4DDF0;
  --red: #FF3A4B;
  --yellow: #FFBA00;
  --yellow_light: #FFD44D;
  --yellow_lighter: #FFECB3;
}

html{
  font-size:10px;
}
body{
  font-family: 'Kanit';
  color: var(--black);
}

h1{
  font-size:6.5rem;
  font-weight: 900;
  letter-spacing:1px;
  line-height: 6.5rem;
  text-transform: uppercase;
}
@media (max-width: 576px){
  h1{
    font-size:30px;
  }
}
h2{
  margin-bottom: 1.5rem;
  font-size:4.5rem;
  font-weight: 900;
  letter-spacing:1px;
  line-height: 4.5rem;
  text-transform: uppercase;
}
h3{
  font-size:3.0rem;
  font-weight: 700;
  letter-spacing:1px;
  line-height: 3.0rem;
  margin-bottom: 2.0rem;
  text-transform: uppercase;
}
h4{
  font-size:2.0rem;
  font-weight: 700;
  letter-spacing:1px;
  line-height: 2.0rem;
  text-transform: uppercase;
}
h5{
  font-family: 'Roboto Condensed';
  font-size:2.0rem;
  font-weight: 700;
  letter-spacing:1px;
  line-height: 2.0rem;
  margin: 0;
}
p{
  font-family: 'Roboto Condensed';
  font-size:2rem;
  font-weight: 400;
  line-height: 2.4rem;
}

section{
  padding-top:30px;
  padding-bottom:30px;
  padding-left: 120px;
  padding-right: 120px;
}
@media (max-width: 576px){
  section{
    padding-left: 10px;
  }
}

li{
 font-size:1.5rem;
}
.bg-black{
  background: var(--black);
}
.bg-blue{
  background: var(--blue);
  color: white;
}
.bg-blue-stripe{
  background-image: url('https://github.com/fablabbcn/assets/raw/master/images/02_kit/stripes-blue-bg.png');
}
.bg-grey{
  background: var(--grey_bg);
}
.bg-purple{
  background: var(--purple);
  color: white;
}
.bg-purple-dark{
  background: var(--purple_dark);
  color: white;
}
.bg-purple-light{
  background: var(--purple_light);
}
.bg-red{
  background: var(--red);
  color: white;
}
.bg-yellow{
  background: var(--yellow);
  color: white;
}

.border-black{
  border: 2px solid var(--black);
}
.border-purple{
  border: 2px solid var(--purple);
}

.btn{
  text-transform: uppercase;
  border-radius:30px;
  font-size:15px;
  font-weight: 600;
  padding:12px 29px;
  margin-bottom: 20px;
}

.btn-black{
  background-color: var(--black);
  color: var(--white);
}
.btn-black:hover{
  background-color: var(--black);
  color: var(--grey);
}
.btn-blue{
  background-color: var(--blue);
  color: var(--white);
}
.btn-blue:hover{
  background-color: var(--blue);
  color: var(--grey);
}
.btn-blue-outline{
  border: 2px solid var(--blue);
  color: var(--blue);
}
.btn-blue-outline:hover{
  background-color: var(--blue);
  color: var(--white);
}
.btn-black-outline{
  border: 2px solid var(--black);
  color: var(--black);
}
.btn-black-outline:hover{
  background-color: var(--black);
  color: var(--white);
}
.btn-purple{
  background-color: var(--purple);
  color: var(--white);
}
.btn-purple:hover{
  background-color: var(--purple_dark);
  color: var(--grey);
}
.btn-purple-outline{
  border: 2px solid var(--purple);
  color: var(--purple);
}
.btn-purple-outline:hover{
  background-color: var(--purple);
  color: var(--white);
}
.btn-yellow{
  background-color: var(--yellow);
  color: var(--black);
}
.btn-yellow:hover{
  background-color: var(--yellow_light);
  color: var(--black);
}
.btn-yellow-outline{
  border: 2px solid var(--yellow);
  color: var(--yellow);
}
.btn-yellow-outline:hover{
  border: 2px solid var(--yellow);
  background-color: var(--yellow);
  color: var(--black);
}
.btn-red{
  background-color: var(--red);
  color: var(--white);
}
.btn-red:hover{
  background-color: var(--red);
  color: var(--black);
}

.btn-red-outline{
  border: 2px solid var(--red);
  color: var(--red);
}
.btn-red-outline:hover{
  background-color: var(--red);
  color: var(--white);
}

.footer li{
  font-size: 13px;
}
.footer-note{
  color: var(--grey);
  font-size:13px;
}
.grey-waves{
  background: url("https://fablabbcn.github.io/assets/images/sck_bg.png") ;
  background-color: #e3e3e3;
}
.measure-description{
  margin-top: 2.6rem;
  overflow: auto;
  height:220px;
}
.service-description{
  margin-top: 3.2rem;
  overflow: auto;
  min-height:200px;
}

.shadow-blue{
  box-shadow: 10px 10px 0px -2px var(--blue),
    10px 10px 0px 0px var(--black);
}
.shadow-grey{
  box-shadow: 10px 10px 0px -2px var(--grey),
    10px 10px 0px 0px var(--black);
}
.shadow-yellow{
  box-shadow: 10px 10px 0px -2px var(--yellow),
    10px 10px 0px 0px var(--black);
}
.shadow-purple{
  box-shadow: 10px 10px 0px -2px var(--purple),
    10px 10px 0px 0px var(--black);
}
.shadow-red{
  box-shadow: 10px 10px 0px -2px var(--red),
    10px 10px 0px 0px var(--black);
}
.shadow-white{
  box-shadow: 10px 10px 0px -2px var(--white),
    10px 10px 0px 0px var(--black);
}
.shadow-on-card{
  position:absolute;
  top: -9%;
  left: 12%;
}
.campaign-category-title{
  position: relative;
  top: -20px;
}
.sc-card p{
  min-height: 110px;
}
.sc-talkbox{
  /* Are these yellow/orange colors used again? If so add them to the variables */
  background-color: #F7F2DA;
  border: 2px solid #EABE3A;
}
.sc-rotate45{
  transition: 0.25s;
  /*browser specific versions*/
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transform: rotate(45deg);
}
.sc-faq{
  @extend .border-black;
  @extend .shadow-yellow;
}
.text-yellow{
  color: var(--yellow);
}
.text-blue{
  color: var(--blue);
}
.text-purple{
  color: var(--purple);
}
.text-red{
  color: var(--red);
}
.services-main{
  background-color: rgba(20,20,20,0.4);
  min-height: 350px;
}
.sc-center-image{
  height:250px;
  position:absolute;
  z-index:100;
  top:22vh;
  left:-25%;
}
@media (max-width: 576px){
  .sc-center-image{
    top: -3vh;
    right: -15vw;
  }
}

.tech-icon{
   max-width: 3em;
}
.faq-plus{
   max-width: 1em;
}

/* Debug helper */
.outline{
  outline: 1px solid red;
}
