<section class="footer row bg-purple-dark">
  <div class="col-6 col-sm-2 mb-3">
    <img src="https://smartcitizen.me/assets/images/smartcitizen_logo2.svg" style="height: 100px" alt="" />
  </div>
  <div class="col-6 col-sm-2 mb-3">
    <h4 class="mt-0">Explore</h4>
    <ul class="list-unstyled">
      <li>The Kit</li>
      <li>Packs & Services</li>
      <li>Campaigns</li>
      <li>Platform</li>
      <li>About</li>
    </ul>
  </div>

  <div class="col-6 col-sm-2">
    <h4 class="mt-0">Support</h4>
    <ul class="list-unstyled">
      <li>Forum</li>
      <li>Focumentation</li>
      <li>API Reference</li>
      <li>Github</li>
    </ul>
  </div>

  <div class="col-6 col-sm-2">
    <h4 class="mt-0">Legal</h4>
    <ul class="list-unstyled">
      <li>Privacy Policy</li>
      <li>Terms and Conditions</li>
      <li>Cookies</li>
    </ul>
  </div>
  <div class="col-6 col-sm-4">
    <h4 class="mt-0">Follow
      <img class="mx-3" style="height:30px"src="https://smartcitizen.me/assets/images/tw.svg"  alt="" />
      <img style="height:30px"src="https://smartcitizen.me/assets/images/fb.svg"  alt="" />
    </h4>
  </div>

  <div class="col-12">
    <hr />
    <div class="row d-flex justify-content-between">
      <div class="col-md-5 d-flex align-items-start">
        <p style="font-size:12px">Project created by</p>
        <img style="height:20px" class="mx-3" src="https://smartcitizen.me/assets/images/logo_fablab_bcn_small.png" alt="" />
        <img style="height:18px" src="https://smartcitizen.me/assets/images/iaac.png" alt="" />
      </div>
      <div class="col-3 col-md-1 ml-auto text-md-right">
        <img style="height:36px"src="https://smartcitizen.me/assets/images/eu_flag.png"  alt="" />
      </div>
      <div class="col-9 col-md-4">
        <p style="font-size:12px; line-height:12px">SmartCitizen has received funding from the European Community’s H2020 Programme under Grant Agreement No. 689954.</p>
      </div>
    </div>
    <hr />
    <p class="text-center footer-note" >Except where otherwise noted, content on this site by Smart Citizen® is licensed under a Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License.</p>
  </div>
</section>

